{% extends 'home.html' %}

{% block policy %}
<div class="container mt-3">
  <div class="card">
    <div class="card-header bg-secondary">
      <h3 class="card-title text-white">Forgot password</h3>
    </div>
    <div class="card-body">
      {% if error_message %}
      <div class="alert alert-danger" role="alert">
        {{ error_message }}
      </div>
      {% endif %}

      {% if success_message %}
      <div class="alert alert-success" role="alert">
        {{ success_message }}
      </div>
      {% endif %}

      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

