{% extends 'home.html' %}

{% block policy %}
<br><br>
<div class="container" style="text-align: justify; padding-left: 20px;">
  {% if policies %}
    <form method="POST" action="policy_delete">
      {% csrf_token %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Policy Name</th>
          </tr>
        </thead>
        <tbody>
          {% for policy in policies %}
            <tr>
              <td><a href="/policy_files/{{policy.pk}}"><button type="button" class="btn btn-outline-dark">{{ policy.policy_name }}</button></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if request.user.is_authenticated %}
        <a href="/policy_list2"><button type="button" class="btn btn-outline-secondary">Delete Policy</button></a>&emsp;
        <a href="/new"><button type="button" class="btn btn-outline-success">Add Policy</button></a>
      {% endif %}
     
    </form>
  {% else %}
    <h4>No policies found.</h4>
    <a href="/new"><button type="button" class="btn btn-outline-success">Add Policy</button></a>
  {% endif %}
</div>
{% endblock %}
