{% load static %}
<!-- partial:partials/_navbar.html -->
<header class="mdc-top-app-bar border-bottom shadow">
    <div class="mdc-top-app-bar__row">
        <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">menu</button>
        </div>
        <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
            <div class="menu-button-container menu-profile d-none d-md-block">
                <button class="mdc-button mdc-menu-button">
                    <span class="d-flex align-items-center">
                    <span class="figure">
                        <img src="{% static 'employee_information/assets/material-admin/images/faces/ava.jpg' %}" alt="user" class="user">
                    </span>
                    <span class="user-name" style="color: rgb(20, 25, 99); font-weight: bold;">{{ user.username }}</span>
                    </span>
                </button>

                <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item" role="menuitem">
                            <div class="item-thumbnail item-thumbnail-icon-only">
                                <i class="mdi mdi-settings-outline text-primary"></i>
                            </div>
                            <div class="item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="item-subject font-weight-normal">
                                    <a href="">Admin</a>
                                </h6>
                            </div>
                        </li>
                        <li class="mdc-list-item" role="menuitem">
                            <div class="item-thumbnail item-thumbnail-icon-only">
                                <i class="mdi mdi-logout text-primary"></i>
                            </div>
                            {% if user.is_authenticated %}
            {% if user.is_superuser %}
              <a href="/cridential/register_user"><button class="btn btn-sm btn-outline-light me-2" type="button">Add User</button></a>
            {% endif %}
            <a href="/cridential/logout"><button class="btn btn-sm btn-outline-light me-2" type="button">Logout</button></a>
          {% else %}
          <!-- <button class="btn btn-sm btn-outline-light me-2" type="button" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot Password</button> -->
          <!-- <button class="btn btn-sm btn-outline-light me-2" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button> -->
          <a href="/cridential/login"><button class="btn btn-sm btn-outline-light" type="button">Login</button></a>
          {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- partial -->