{% extends 'cridential/home.html' %}

{% block policy %}
<div class="container">
  <br>
  <h1 class="display-5 text-center mb-4">Password Reset</h1>
  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_new_password1" class="form-label">New Password</label>
      <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="Enter your new password" required>
    </div>
    <div class="mb-3">
      <label for="id_new_password2" class="form-label">Confirm New Password</label>
      <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Confirm your new password" required>
      <div id="passwordMatchError" class="invalid-feedback">Passwords do not match.</div>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>

<script>
document.querySelector('#id_new_password2').addEventListener('input', function (event) {
    var password1 = document.querySelector('#id_new_password1').value;
    var password2 = event.target.value;
    if (password1 !== password2) {
        document.querySelector('#passwordMatchError').style.display = 'block';
        event.target.setCustomValidity('Passwords do not match.');
    } else {
        document.querySelector('#passwordMatchError').style.display = 'none';
        event.target.setCustomValidity('');
    }
});
</script>

{% endblock %}
