{% extends "leave/base.html" %}



{% block leave %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="d-flex justify-content-between">
            <h4 class="card-title mb-0">Home Page</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <hr class="w-100">
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
    <div class="mdc-card info-card info-card--success">
        
        <div class="card-inner">
            <h5 class="card-title">employees Registered</h5>
            <h5 class="font-weight-dark pb-2 mb-1 border-bottom text-success">{{ policy_count }}</h5>
            <p class="tx-12 text-muted">Over All Count of employees</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">list</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
    <div class="mdc-card info-card info-card--primary">
        <div class="card-inner">
            <h5 class="card-title">Manager Registered</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
            <p class="tx-12 text-muted">Over All Count of Main Manager</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">list</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
    <div class="mdc-card info-card info-card--info">
        <div class="card-inner">
            <h5 class="card-title">User Registred  </h5>
            <h5 class="font-weight-dark pb-2 mb-1 border-bottom text-primary">{{ user_count  }}</h5>
            <p class="tx-12 text-muted">Over All Count of User Employees </p>
            <div class="card-icon-wrapper">
                <i class="material-icons">group</i>
            </div>
        </div>
    </div>
</div>
{% endblock %}